.fullscreen-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(242, 242, 242, 0.7);
}
.overlay-container {
    width: 100%;
    height: 70%;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 2001;
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drag-rectangle {
    width: 24px;
    height: 4px;

    background-color: #c4c4c4;
    border-radius: 3px;

    margin-bottom: 20px;
}
ul.list {
    width: 100%;
    margin-bottom: 2rem;
}
.row-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 46px;
    border-top: 1px solid #000000;
    padding: 0 0.5rem;
}
.row-element:last-child {
    border-bottom: 1px solid #000000;
}
.filter-content {
    display: flex;
    flex-direction: column;
}
.filter-label {
    font-weight: 600;
}
.expanded-filter {
    padding: 0 0.5rem;
}
.checkbox-row {
    border-bottom: 1px solid #b6b6b6;
}
.checkbox-row:last-child {
    border-bottom: 0;
}
.active-filters-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.active-filter-container {
    min-height: 32px;
    background-color: #6a6a6a;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25rem;
}
.active-filter-text {
    color: white;
    margin-right: 1rem;
}
.header {
    text-align: center;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {
    .fullscreen-overlay {
        all: initial;
        width: 20%;
        height: auto;
        position: absolute;
        transform: translate(-109%, 42px);
    }
    .overlay-container {
        width: 100%;
        height: auto;
        position: absolute;
        padding: 1rem;
        border: black 1px solid;
        border-radius: 6px;
    }
    .drag-rectangle,
    .header {
        display: none;
    }
    .row-element {
        border-top: 1px solid #000000;
    }
    .row-element:first-child {
        border-top: 0;
    }
    .row-element:last-child {
        border-bottom: 1px solid #000000;
    }
}

.hidden {
    visibility: hidden;
}
