.page-background {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    background-color: #ffffff;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
    padding: 1rem;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.back-button-info {
    margin-top: 0rem;
    margin-left: -0.5rem;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 4px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn:focus {
    border-color: #0067c5;
    outline: none;
}

.close-btn:hover {
    background-color: #e1e3e6;
}

.header {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    padding-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0%;
}

.header-buttons {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.header-content {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
}

.participant-text {
    font-weight: normal !important;
    font-size: 1.25rem;
}

.main-content {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    margin-top: 0.5rem;
}

.thread-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.textarea-container {
    display: block;
}

.send-button-container {
    display: flex;
    justify-content: end;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.show-service-assignment-text {
    color: #ffffff;
}

.thread-dialog {
    width: 100%;
}

.read-by-text {
    font-size: 1rem;
    text-align: end;
    margin-right: 1rem;
}

.modal-body p {
    font-weight: bold;
}

.page-background span,
dialog.modal-container span {
    font-weight: normal !important;
}

.maps-button-container {
    display: inline-block;
    padding-right: 1vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.error-content {
    padding: 3vw;
    margin: auto;
    width: 100%;
    background-color: white;
    text-align: center;
}

.helpText {
    text-align: center;
}

/* Modal dialog test */
dialog.modal-container h2 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

/* Backdrop */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

/* Selve dialogen (default skjult) */
dialog.modal-container {
    z-index: 10001;
    background: white;
    border-radius: 0.5rem;
    max-width: 40rem;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

    padding: 0;
    border: none;
    display: none;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* Når dialogen er åpen */
dialog[open].modal-container {
    display: flex;
}
dialog.modal-container .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-size: 1.5rem;
}
dialog.modal-container .modal-body {
    padding: 0 2rem 2rem;
}
dialog.modal-container .modal-footer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
}
dialog.modal-container .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 4px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

dialog.modal-container .close-btn:focus {
    border-color: #0067c5;
    outline: none;
}

dialog.modal-container .close-btn:hover {
    background-color: #e1e3e6;
}
@media (max-width: 600px) {
    dialog.modal-container {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        border-radius: 0;
        padding: 1rem;
        top: 0;
        left: 0;
        transform: none;
    }
    dialog.modal-container .close-btn {
        background-color: #e0e3e6;
    }

    dialog.modal-container .modal-header,
    dialog.modal-container .modal-body,
    dialog.modal-container .modal-footer {
        padding: 1rem;
    }
}

.modal-container {
    z-index: 1000;
}

@media (max-width: 768px) {
    .header {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .header-buttons {
        margin-top: 1rem;
    }

    .back-button-info {
        margin-top: 0rem;
        margin-left: -0.5rem;
    }

    .textarea-container {
        height: 50%;
    }

    .read-by-text {
        font-size: 0.875rem;
        text-align: end;
        margin-left: 3.5rem;
    }

    .helpText {
        margin-bottom: -0.5rem;
    }

    /* Dialog test */
}
