tr.row {
    height: 60px;
    border-top: 1px solid #2c2c2c8e;
    transition: transform 0.1s;
}
tr.row:last-child {
    border-bottom: 1px solid #2c2c2c8e;
}

.iconPadding {
    padding-left: 10px;
}

@media (max-width: 576px) {
    .mobile-header-hidden {
        position: absolute;
        left: -10000px;
    }
    .iconPadding {
        padding-right: 10px;
    }
}

tr.row:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

th {
    width: 20%;
}
