.center-content {
    align-items: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
.backBtn {
    font-weight: bold;
}
.navno-dekorator.alertstripe {
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
    max-width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
}

.alertstripe__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.navno-dekorator.alertstripe--info {
    border: 1px solid #368da8;
    background-color: #d8f9ff;
}
.navno-dekorator.alertstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}

.user-info-tile {
    background-color: #fff;
    display: block;
    padding: 3rem 2rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    margin-bottom: 1rem;
    max-width: 800px;
    width: 100%;
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.sub-form > form > slot > lightning-output-field > .slds-form-element__label {
    background-color: red;
    display: none !important;
}
.back-link {
    display: flex;
    align-items: left;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    display: flex;
    max-width: 800px;
    width: 100%;
}
.back-link:hover {
    text-decoration: underline;
}
