.center-content {
    align-items: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}
.backBtn {
    font-weight: bold;
}

.user-info-tile {
    background-color: #fff;
    display: block;
    padding: 3rem 2rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    margin-bottom: 1rem;
    max-width: 800px;
    width: 100%;
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.sub-form > form > slot > lightning-output-field > .slds-form-element__label {
    background-color: red;
    display: none !important;
}
.back-link {
    display: flex;
    align-items: left;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    display: flex;
    max-width: 800px;
    width: 100%;
}
.back-link:hover {
    text-decoration: underline;
}
