.custom-card-border {
    border: 1px solid #000000; /* Black border */
    border-radius: 0.25rem; /* Rounded corners */
    margin-bottom: 1rem; /* Space below each card */
}
.slds-text-heading_small {
    padding: 1rem;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cancel-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.custom-button {
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
