# VS Code
# ----------------------------------------------------------------------------------------

.vscode/*
!.vscode/usersnippets/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


.localdevserver



# SSDX Helper
# ----------------------------------------------------------------------------------------

.packageKey



# sfdx
# ----------------------------------------------------------------------------------------

# Salesforce cache
.sfdx/
.sf/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# ignore deployment temp files
**/deployment_tmp*
**/dummy-data/*.out/*

# bugs
**/objects/Account/fields/ChannelProgramLevelName.field-meta.xml
**/objects/Account/fields/ChannelProgramName.field-meta.xml
**/objects/Account/fields/CleanStatus.field-meta.xml
**/objects/Account/fields/DandbCompanyId.field-meta.xml
**/objects/Account/fields/DunsNumber.field-meta.xml
**/objects/Account/fields/NaicsCode.field-meta.xml
**/objects/Account/fields/NaicsDesc.field-meta.xml
**/objects/Account/fields/OperatingHoursId.field-meta.xml
**/objects/Account/fields/Tradestyle.field-meta.xml
**/objects/Account/fields/YearStarted.field-meta.xml
**/objects/Contact/fields/CleanStatus.field-meta.xml
**/profilePasswordPolicies/Customer_Community_Login_User_profilePasswordPolicy*.profilePasswordPolicy-meta.xml
**/profileSessionSettings/Customer_Community_Login_User_profileSessionSetting*.profileSessionSetting-meta.xml
**/objects/Account/fields/AccountSource.field-meta.xml

# translations
**/translations/en_US.translation-meta.xml










# jetbrains
# ----------------------------------------------------------------------------------------

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# illuminated cloud
.idea/**/illuminatedCloud.xml
.idea/**/*.iml
.idea/**/modules.xml
IlluminatedCloud
out

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser








# python
# ----------------------------------------------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# MyTriggers
force-app/main/default/classes/MyTriggers.cls
force-app/main/default/classes/MyTriggers.cls-meta.xml

**/jsconfig.json

# Standard fields and other items that are reportet as changes, but are not
force-app/main/default/objects/ServiceAppointment/fields/EarliestStartTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/DurationType.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/Duration.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/DueDate.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/Description.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ContactId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ArrivalWindowStartTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ArrivalWindowEndTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/Address.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ActualStartTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ActualEndTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ActualDuration.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/AccountId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/ServiceAppointment.object-meta.xml
force-app/main/default/objects/ServiceAppointment/listViews/queue_4719_ServiceAppointment.listView-meta.xml
force-app/main/default/objects/ServiceAppointment/listViews/My_ServiceAppointments.listView-meta.xml
force-app/main/default/objects/ServiceAppointment/listViews/All_ServiceAppointments.listView-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/WorkTypeId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/Subject.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/StatusCategory.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/Status.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ServiceTerritoryId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ServiceNote.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/SchedStartTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/SchedEndTime.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ParentRecordType.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ParentRecordStatusCategory.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/ParentRecordId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/fields/OwnerId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/GrandTotal.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/EntitlementId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/EndDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/DurationType.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Duration.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Discount.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Description.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ContactId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/CaseId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/BusinessHoursId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/AssetId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Address.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/AccountId.field-meta.xml
force-app/main/default/objects/WorkOrder/WorkOrder.object-meta.xml
force-app/main/default/objects/WorkOrder/listViews/queue_4719_WorkOrder.listView-meta.xml
force-app/main/default/objects/WorkOrder/listViews/My_WorkOrders.listView-meta.xml
force-app/main/default/objects/WorkOrder/listViews/All_WorkOrders.listView-meta.xml
force-app/main/default/objects/WorkOrder/fields/WorkTypeId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/TotalPrice.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Tax.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/SuggestedMaintenanceDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Subtotal.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Subject.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/StopStartDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/StatusCategory.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Status.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/StartDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/SlaStartDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/SlaExitDate.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ServiceTerritoryId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ServiceReportTemplateId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ServiceReportLanguage.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ServiceContractId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ServiceAppointmentCount.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/RootWorkOrderId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ReturnOrderLineItemId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ReturnOrderId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/RecommendedCrewSize.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Priority.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/Pricebook2Id.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/ParentWorkOrderId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/OwnerId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/MinimumCrewSize.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/MilestoneStatusIcon.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/MilestoneStatus.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/MaintenancePlanId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/LocationId.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/LineItemCount.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/IsStopped.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/IsGeneratedFromMaintenancePlan.field-meta.xml
force-app/main/default/objects/WorkOrder/fields/IsClosed.field-meta.xml
force-app/main/default/objects/Account/fields/Website.field-meta.xml
force-app/main/default/objects/Account/fields/Type.field-meta.xml
force-app/main/default/objects/Account/fields/TickerSymbol.field-meta.xml
force-app/main/default/objects/Account/fields/Site.field-meta.xml
force-app/main/default/objects/Account/fields/SicDesc.field-meta.xml
force-app/main/default/objects/Account/fields/Sic.field-meta.xml
force-app/main/default/objects/Account/fields/ShippingAddress.field-meta.xml
force-app/main/default/objects/Account/fields/Rating.field-meta.xml
force-app/main/default/objects/Account/fields/Phone.field-meta.xml
force-app/main/default/objects/Account/fields/PersonTitle.field-meta.xml
force-app/main/default/objects/Account/fields/PersonOtherPhone.field-meta.xml
force-app/main/default/objects/Account/fields/PersonOtherAddress.field-meta.xml
force-app/main/default/objects/Account/fields/PersonMobilePhone.field-meta.xml
force-app/main/default/objects/Account/fields/PersonMailingAddress.field-meta.xml
force-app/main/default/objects/Account/fields/PersonLeadSource.field-meta.xml
force-app/main/default/objects/Account/fields/PersonLastCUUpdateDate.field-meta.xml
force-app/main/default/objects/Account/fields/PersonLastCURequestDate.field-meta.xml
force-app/main/default/objects/Account/fields/PersonIndividualId.field-meta.xml
force-app/main/default/objects/Account/fields/PersonHomePhone.field-meta.xml
force-app/main/default/objects/Account/fields/PersonHasOptedOutOfFax.field-meta.xml
force-app/main/default/objects/Account/fields/PersonHasOptedOutOfEmail.field-meta.xml
force-app/main/default/objects/Account/fields/PersonEmail.field-meta.xml
force-app/main/default/objects/Account/fields/PersonDoNotCall.field-meta.xml
force-app/main/default/objects/Account/fields/PersonDepartment.field-meta.xml
force-app/main/default/objects/Account/fields/PersonBirthdate.field-meta.xml
force-app/main/default/objects/Account/fields/PersonAssistantPhone.field-meta.xml
force-app/main/default/objects/Account/fields/PersonAssistantName.field-meta.xml
force-app/main/default/objects/Account/fields/ParentId.field-meta.xml
force-app/main/default/objects/Account/fields/Ownership.field-meta.xml
force-app/main/default/objects/Account/fields/OwnerId.field-meta.xml
force-app/main/default/objects/Account/fields/NumberOfEmployees.field-meta.xml
force-app/main/default/objects/Account/fields/Name.field-meta.xml
force-app/main/default/objects/Account/fields/Jigsaw.field-meta.xml
force-app/main/default/objects/Account/fields/IsCustomerPortal.field-meta.xml
force-app/main/default/objects/Account/fields/INT_RegDateEreg__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_PotentialMandays__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_PersonIdent__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_ParentOrganizationNumber__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_OrganizationNumber__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_OrganizationalStructureDesc__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_OrganizationalStructure__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_MunicipalityNumber__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_IsInLiquidation__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_IsInForcedSettlementOrResolution__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_IsBankrupt__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_IndustryCode__c.field-meta.xml
force-app/main/default/objects/Account/fields/INT_Industry__c.field-meta.xml
force-app/main/default/objects/Account/fields/Industry.field-meta.xml
force-app/main/default/objects/Account/fields/Fax.field-meta.xml
force-app/main/default/objects/Account/fields/Description.field-meta.xml
force-app/main/default/objects/Account/fields/CRM_Person__c.field-meta.xml
force-app/main/default/objects/Account/fields/BillingAddress.field-meta.xml
force-app/main/default/objects/Account/fields/AnnualRevenue.field-meta.xml
force-app/main/default/objects/Account/fields/AccountNumber.field-meta.xml
force-app/main/default/objects/Account/compactLayouts/EmployerCompactLayout.compactLayout-meta.xml
force-app/main/default/objects/Account/Account.object-meta.xml
force-app/main/default/objects/Account/validationRules/Record_Type_is_not_editable.validationRule-meta.xml
force-app/main/default/objects/Account/validationRules/Owner_is_not_editable.validationRule-meta.xml
force-app/main/default/objects/Account/validationRules/Name_is_not_editable.validationRule-meta.xml
force-app/main/default/objects/Account/recordTypes/Business_Account.recordType-meta.xml
force-app/main/default/objects/Account/recordTypes/Employer.recordType-meta.xml
force-app/main/default/objects/ServiceAppointment/listViews/HOT_Tolk_Admin_ServiceAppointment.listView-meta.xml
force-app/main/default/objects/WorkOrder/listViews/queue_4718_WorkOrder.listView-meta.xml
force-app/main/default/objects/WorkOrder/listViews/HOT_Tolk_Admin_WorkOrder.listView-meta.xml
force-app/main/default/objects/ServiceResource/ServiceResource.object-meta.xml
force-app/main/default/objects/ServiceResource/listViews/My_ServiceResources.listView-meta.xml
force-app/main/default/objects/ServiceResource/listViews/All_ServiceResources.listView-meta.xml
force-app/main/default/objects/ServiceResource/fields/ServiceCrewId.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/ResourceType.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/RelatedRecordId.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/OwnerId.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/Name.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/LocationId.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/IsOptimizationCapable.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/IsCapacityBased.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/IsActive.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/Description.field-meta.xml
force-app/main/default/objects/ServiceResource/fields/AccountId.field-meta.xml
force-app/main/default/objects/ServiceAppointment/listViews/queue_4718_ServiceAppointment.listView-meta.xml
force-app/main/default/objects/HOT_Request__c/listViews/queue_4718_HOT_Request.listView-meta.xml
force-app/main/default/objects/HOT_Request__c/listViews/queue_4719_HOT_Request.listView-meta.xml
force-app/main/default/objects/WorkOrder/fields/AssetWarrantyId.field-meta.xml
force-app/main/default/objects/HOT_Request__c/listViews/HOT_Tolk_Leder_HOT_Request.listView-meta.xml
force-app/main/default/objects/HOT_Request__c/listViews/HOT_Tolk_Samordna_frilansomrade_HOT_Request.listView-meta.xml
force-app/main/default/objects/Event/Event.object-meta.xml
force-app/main/default/objects/Event/fields/ActivityDate.field-meta.xml
force-app/main/default/objects/Event/fields/ActivityDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/Attendees.field-meta.xml
force-app/main/default/objects/Event/fields/Description.field-meta.xml
force-app/main/default/objects/Event/fields/DurationInMinutes.field-meta.xml
force-app/main/default/objects/Event/fields/Email.field-meta.xml
force-app/main/default/objects/Event/fields/EndDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/EventSubtype.field-meta.xml
force-app/main/default/objects/Event/fields/IsAllDayEvent.field-meta.xml
force-app/main/default/objects/Event/fields/IsPrivate.field-meta.xml
force-app/main/default/objects/Event/fields/IsRecurrence2.field-meta.xml
force-app/main/default/objects/Event/fields/IsReminderSet.field-meta.xml
force-app/main/default/objects/Event/fields/IsVisibleInSelfService.field-meta.xml
force-app/main/default/objects/Event/fields/Location.field-meta.xml
force-app/main/default/objects/Event/fields/OwnerId.field-meta.xml
force-app/main/default/objects/Event/fields/Phone.field-meta.xml
force-app/main/default/objects/Event/fields/ShowAs.field-meta.xml
force-app/main/default/objects/Event/fields/StartDateTime.field-meta.xml
force-app/main/default/objects/Event/fields/Subject.field-meta.xml
force-app/main/default/objects/Event/fields/Type.field-meta.xml
force-app/main/default/objects/Event/fields/WhatId.field-meta.xml
force-app/main/default/objects/Event/fields/WhoId.field-meta.xml
force-app/main/default/staticresources/SiteSamples/SiteStyles.css
force-app/main/default/staticresources/SiteSamples/img/warning.png
force-app/main/default/staticresources/SiteSamples/img/unauthorized.png
force-app/main/default/staticresources/SiteSamples/img/tools.png
force-app/main/default/staticresources/SiteSamples/img/poweredby.png
force-app/main/default/staticresources/SiteSamples/img/maintenance.png
force-app/main/default/staticresources/SiteSamples/img/force_logo.png
force-app/main/default/staticresources/SiteSamples/img/construction.png
force-app/main/default/staticresources/SiteSamples/img/clock.png
force-app/main/default/staticresources/SiteSamples.resource-meta.xml
force-app/main/default/pages/UnderConstruction.page-meta.xml
force-app/main/default/pages/UnderConstruction.page
force-app/main/default/pages/Unauthorized.page-meta.xml
force-app/main/default/pages/Unauthorized.page
force-app/main/default/pages/StdExceptionTemplate.page-meta.xml
force-app/main/default/pages/StdExceptionTemplate.page
force-app/main/default/pages/SiteTemplate.page-meta.xml
force-app/main/default/pages/SiteTemplate.page
force-app/main/default/pages/SiteRegisterConfirm.page-meta.xml
force-app/main/default/pages/SiteRegisterConfirm.page
force-app/main/default/pages/SiteRegister.page-meta.xml
force-app/main/default/pages/SiteRegister.page
force-app/main/default/pages/SiteLogin.page-meta.xml
force-app/main/default/pages/SiteLogin.page
force-app/main/default/pages/MyProfilePage.page-meta.xml
force-app/main/default/pages/MyProfilePage.page
force-app/main/default/pages/MicrobatchSelfReg.page-meta.xml
force-app/main/default/pages/MicrobatchSelfReg.page
force-app/main/default/pages/InMaintenance.page-meta.xml
force-app/main/default/pages/InMaintenance.page
force-app/main/default/pages/IdeasHome.page-meta.xml
force-app/main/default/pages/IdeasHome.page
force-app/main/default/pages/ForgotPasswordConfirm.page-meta.xml
force-app/main/default/pages/ForgotPasswordConfirm.page
force-app/main/default/pages/ForgotPassword.page-meta.xml
force-app/main/default/pages/ForgotPassword.page
force-app/main/default/pages/FileNotFound.page-meta.xml
force-app/main/default/pages/FileNotFound.page
force-app/main/default/pages/Exception.page-meta.xml
force-app/main/default/pages/Exception.page
force-app/main/default/pages/CommunitiesTemplate.page-meta.xml
force-app/main/default/pages/CommunitiesTemplate.page
force-app/main/default/pages/CommunitiesSelfRegConfirm.page-meta.xml
force-app/main/default/pages/CommunitiesSelfRegConfirm.page
force-app/main/default/pages/CommunitiesSelfReg.page-meta.xml
force-app/main/default/pages/CommunitiesSelfReg.page
force-app/main/default/pages/CommunitiesLogin.page-meta.xml
force-app/main/default/pages/CommunitiesLogin.page
force-app/main/default/pages/CommunitiesLanding.page-meta.xml
force-app/main/default/pages/CommunitiesLanding.page
force-app/main/default/pages/ChangePassword.page-meta.xml
force-app/main/default/pages/ChangePassword.page
force-app/main/default/pages/BandwidthExceeded.page-meta.xml
force-app/main/default/pages/BandwidthExceeded.page
force-app/main/default/pages/AnswersHome.page-meta.xml
force-app/main/default/pages/AnswersHome.page
force-app/main/default/classes/SiteRegisterControllerTest.cls-meta.xml
force-app/main/default/classes/SiteRegisterControllerTest.cls
force-app/main/default/classes/SiteRegisterController.cls-meta.xml
force-app/main/default/classes/SiteRegisterController.cls
force-app/main/default/classes/SiteLoginControllerTest.cls-meta.xml
force-app/main/default/classes/SiteLoginControllerTest.cls
force-app/main/default/classes/SiteLoginController.cls-meta.xml
force-app/main/default/classes/SiteLoginController.cls
force-app/main/default/classes/MicrobatchSelfRegControllerTest.cls-meta.xml
force-app/main/default/classes/MicrobatchSelfRegControllerTest.cls
force-app/main/default/classes/MicrobatchSelfRegController.cls-meta.xml
force-app/main/default/classes/MicrobatchSelfRegController.cls
force-app/main/default/classes/LightningSelfRegisterControllerTest.cls-meta.xml
force-app/main/default/classes/LightningSelfRegisterControllerTest.cls
force-app/main/default/classes/LightningSelfRegisterController.cls-meta.xml
force-app/main/default/classes/LightningSelfRegisterController.cls
force-app/main/default/classes/LightningLoginFormControllerTest.cls-meta.xml
force-app/main/default/classes/LightningLoginFormControllerTest.cls
force-app/main/default/classes/LightningLoginFormController.cls-meta.xml
force-app/main/default/classes/LightningLoginFormController.cls
force-app/main/default/classes/LightningForgotPasswordControllerTest.cls-meta.xml
force-app/main/default/classes/LightningForgotPasswordControllerTest.cls
force-app/main/default/classes/LightningForgotPasswordController.cls-meta.xml
force-app/main/default/classes/LightningForgotPasswordController.cls
force-app/main/default/classes/ForgotPasswordControllerTest.cls-meta.xml
force-app/main/default/classes/ForgotPasswordControllerTest.cls
force-app/main/default/classes/ForgotPasswordController.cls-meta.xml
force-app/main/default/classes/ForgotPasswordController.cls
force-app/main/default/classes/CommunitiesSelfRegControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegControllerTest.cls
force-app/main/default/classes/CommunitiesSelfRegController.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegController.cls
force-app/main/default/classes/CommunitiesSelfRegConfirmControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegConfirmControllerTest.cls
force-app/main/default/classes/CommunitiesSelfRegConfirmController.cls-meta.xml
force-app/main/default/classes/CommunitiesSelfRegConfirmController.cls
force-app/main/default/classes/CommunitiesLoginControllerTest.cls-meta.xml
force-app/main/default/classes/CommunitiesLoginControllerTest.cls
force-app/main/default/classes/CommunitiesLoginController.cls-meta.xml
force-app/main/default/classes/CommunitiesLoginController.cls
force-app/main/default/permissionsets/sfdcInternalInt__sfdc_fieldservice.permissionset-meta.xml
force-app/main/default/permissionsets/Case_Feed.permissionset-meta.xml
