.custom-padding-around-small {
    padding: 0.5rem;
}

.button-container {
    flex-wrap: wrap;
}

/* Custom button hover effect - lighter green to contrast with #406e45 background */
.custom-button:hover {
    color: #406e45;
}
