.varsel-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.unread-varsel-container {
    border-radius: 50%;
    background-color: red;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: -0.5rem;
    right: 0;
}
.varsel-button {
    background-color: transparent;
    border: 0;
}
.varsel-list-container {
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
}

.varsel-list-element {
    border-bottom: 2px solid black;
    padding: 0.5rem;
}
.varsel-list-element-content {
    text-align: left;
}
