.freelanceWrapper {
    background-color: #efecf4;
    width: 100%;
    padding: 2vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
}

.freelanceHeader {
    color: #99185e;
    font-size: 1.75rem;
    text-align: left;
}
.spacer {
    height: 1rem;
    width: 4rem;
    background-color: #e6c7d8;
    margin-top: 1rem;
}
.buttonFlexContainer {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding-top: 2rem;
}

.box {
    box-sizing: border-box;
    flex: 1;
    width: calc(33.333% - (2% * 2 / 3));
    min-width: 200px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 7px;
    border: 4px solid #ffffff;
    text-align: left;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
}
.boxContent {
    padding: 1rem;
}
.boxLabel {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0056b4;
}
.boxDescription {
    font-size: 1.125rem;
}
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.calenderButton {
    background-color: #ffffff;
    border: 4px solid #ffffff;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem 1.2rem;
}
.calenderButton:hover,
.calenderButton:focus,
.box:hover,
.box:focus {
    border-color: #0067c5;
    /* background-color: #cce1ff; */
}

.box:hover .boxLabel,
.box:focus .boxLabel {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .freelanceWrapper {
        padding: 1rem;
    }
    .buttonFlexContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .box {
        max-width: none;
        flex: none;
        width: 100%;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }
}
.calenderModalContent {
    background-color: #ffffff;
    width: 100%;
    border-radius: 7px;
    font-size: 18px;
    padding: 2vw;
}

.navno-dekorator.alertstripe {
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
    max-width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
}

.navno-dekorator.alertstripe--advarsel {
    border: 1px solid #ff9100;
    background-color: #ffe9cc;
    margin-bottom: 0.2rem;
}
.navno-dekorator.alertstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}
@media (max-width: 768px) {
    .wrapper {
        padding: 0;
    }
    .calenderModalContent {
        padding: 1vw;
    }
}

/*<<<<<<<< CSS for custom lukke kalender >>>>>>>*/
.navds-button {
    display: inline-flex;
    cursor: pointer;
    background-color: #ffffff;
    color: #0067c5;
    margin: 0;
    text-align: center;
    text-decoration: none;
    min-height: 48px;
    align-items: center;
    padding: calc(0.75rem - 2px) 0.75rem;
    border-radius: 5px;
    z-index: 1002; /* keep button over overlay */
}
.navds-body-short {
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 0;
}
.navds-button--tertiary {
    border: 2px solid #3386e0;
    background-color: transparent;
}

.navds-button--tertiary:hover,
.navds-button--tertiary:focus {
    border-color: #0067c5;
    background-color: #cce1ff;
    /*<<<<<<------->>>>>>>*/
}
