.wrapper {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
}
.navno-dekorator.alertstripe {
    padding: 1rem 1rem 1rem 0rem;
    border-radius: 4px;
    display: flex;
    align-content: center;
    border-radius: 0.25rem;
    color: #3e3832;
    max-width: fit-content;
    margin: auto;
    margin-top: 0.5rem;
}

.navno-dekorator.alertstripe--advarsel {
    border: 1px solid #ff9100;
    background-color: #ffe9cc;
    margin-bottom: 0.2rem;
}
.navno-dekorator.alertstripe__ikon {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    display: flex;
    top: 1rem;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
}

.navds-button {
    display: inline-flex;
    cursor: pointer;
    background-color: #ffffff;
    color: #0067c5;
    margin: 0;
    text-align: center;
    text-decoration: none;
    min-height: 48px;
    align-items: center;
    padding: calc(0.75rem - 2px) 0.75rem;
    border-radius: 5px;
    z-index: 1002; /* keep button over overlay */
}
.navds-body-short {
    font-size: 1.125rem;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 0;
}
.navds-button--tertiary {
    border: 2px solid #3386e0;
    background-color: transparent;
}

.navds-button--tertiary:hover,
.navds-button--tertiary:focus {
    border-color: #0067c5;
    background-color: #cce1ff;
    /*<<<<<<------->>>>>>>*/
}
.boxContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.boxLabel {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0056b4;
}
.boxDescription {
    font-size: 1.125rem;
}
.unreadThreadsTag {
    background-color: #ffd799;
    width: fit-content;
    border-radius: 4px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 1.125rem;
    margin-top: 0.5rem;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center; /* viktig for vertikal sentrering */
    gap: 1rem;
}

.row .freelanceHeader {
    color: #005b82;
    font-size: 1.75rem;
    text-align: left;
    margin: 0; /* fjern bottom margin */
}

.spacer {
    height: 1rem;
    width: 4rem;
    background-color: #005b82;
    margin-top: 1rem;
}

/*  */
.boxRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1rem, 0.75rem + 1vw, 1.5rem);

    @media (width < 768px) {
        grid-template-columns: 1fr;
    }
}
.calenderModalContent {
    background-color: #ffffff;
    width: 100%;
    border-radius: 1ch;
    font-size: 18px;
    padding: 2vw;
    background-color: #ffffff;
}
.box {
    display: block;
    border: 4px solid var(--card-bg, #ffffff);
    background: var(--card-bg, #cce2f0);
    min-block-size: 8lh;
    border-radius: 1ch;
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        border-color: #0067c5;
    }
}

@layer extras {
    body {
        padding: 2lh 1em;
        max-inline-size: 1200px;
        margin-inline: auto;
    }
    .wrapper {
        padding: 5ch;

        &:not(:first-of-type) {
            @media (width > 768px) {
                padding: 0;
            }
        }

        &:first-of-type {
            border-radius: 1ch;
            background: #cce2f0;

            .box {
                background: #cce2f0;
            }
        }
    }
    :where(body, .wrapper) > div + div {
        margin-block-start: 2lh;
    }
}
.calenderButton {
    border: 4px solid #ffffff;
    background-color: #ffffff;
    border-radius: 1ch;
    padding: 1rem 1.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.calenderButton img {
    display: block;
}
.calenderButton:hover,
.calenderButton:focus {
    border-color: #0067c5;
}
.calendar-legend-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendar-legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    padding-top: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.legend-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
    .calenderModalContent {
        padding: 0vw;
        width: 100%;
    }
    .wrapper {
        padding: 1ch !important;
    }
    .calendar-legend {
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
        justify-content: left;
        font-size: 1rem;
    }

    .spacer {
        margin-bottom: -2rem;
    }
}
