.filter-list-checkbox {
    width: 100%;
}

.main-content {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.action-container {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.right-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
div.liste.liste-max-width > div > lightning-radio-group {
    width: 50%;
}
.filter-list-checkbox {
    width: 50%;
}

@media (max-width: 576px) {
    .right-content {
        margin-bottom: 0;
        width: 100%;
    }
    .slds-button_brand,
    .slds-button--brand {
        width: 100%;
    }
    .liste {
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem auto 1rem auto;
    }
}

.ikke-sensitive-opplysninger__label:after {
    content: ' (ingen sensitive opplysninger)';
}

.comments-dialog-container {
    all: unset;
    background-color: #fff;
    display: block;
    padding: 5rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    max-height: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1010;
    max-width: 432px;
    max-height: 75%;
    width: 100%;
}

.hidden {
    display: none;
}
