.hodefot .sitefooter.no-menu {
	padding-bottom: 54px;
}

.hodefot .sitefooter {
	background: #3e3832;
	position: relative;
	color: #fff;
	padding: 0 0 20px 0;
}

.hodefot .about-site a:hover {
	color: #66cbec;
}

.hodefot .sitefooter a {
	color: #fff;
	font-size: 15px;
	text-decoration: none;
}

.hodefot .nav a {
	display: block;
}

.hodefot .nav {
	margin: 0;
	list-style: none;
}

a:active, a:hover {
	outline: 0;
}

.hodefot .about-site {
	padding-top: 30px;
	color: #b7b1a9;
	text-align: center;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
	max-width: 63rem;
}

.hodefot .about-site .decorated {
	display: inline-block;
	margin-bottom: 16px;
	font-size: 16x;
	font-family: "Source Sans Pro", Arial, sans-serif;
}

.hodefot .about-site .decorated:after {
	border-color: #857b71;
	margin-top: 16px;
}

.decorated:after {
	border-top: 1px solid #b7b1a9;
	clear: both;
	content: " ";
	display: block;
	margin: 20px auto 0;
	width: 30px;
}

.hodefot .about-site ul li {
	display: inline-block;
	position: relative;
	padding-left: 30px;
}

.hodefot .about-site ul li:before {
	position: absolute;
	left: 13px;
	top: 47%;
	border: 2px solid #857b71;
	border-radius: 2px;
	content: " ";
	display: inline-block;
}

.hodefot .about-site ul li:first-child {
	padding-left: 0;
}

@media(max-width: 576px) {
	.hodefot .about-site ul li {
		display: block;
		position: relative;
		padding-left: 30px;
		padding: 0 !important;
		margin-bottom: 10px;
	}
}

@media (max-width: 576px) {
	.hodefot .about-site ul li:before {
		left: 50%;
		top: -6px;
	}
}

@media (max-width: 576px) {
	.hodefot .about-site ul li>a {
		padding: .5em 0;
		font-size: 1em;
	}
}