.listClass {
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
    .listClass {
        align-items: start;
        padding-bottom: 1vw;
        display: flex;
        flex-direction: column;
    }
}
