.center-content {
    align-items: center;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.user-info-tile {
    background-color: #fff;
    display: block;
    padding: 4rem 2rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    max-width: 800px;
    width: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.sub-form > form {
    padding: 0 1rem;
}

.sub-form > form > slot {
    display: flex;
    flex-direction: row;
}

.sub-form > form > slot > lightning-output-field > .slds-form-element__label {
    background-color: red;
    display: none !important;
}

.button-spaced {
    display: flex;
    justify-content: space-around;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-section {
    margin: 0 1rem;
}

.button-class {
    text-align: center;
    margin-top: 1.5rem;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    font-family:
        'Source Sans Pro',
        Arial,
        Sans serif;
}

@media (max-width: 576px) {
    .form-wrapper {
        flex-direction: column;
    }
    .button-spaced {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    lightning-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.custom-outline-button {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #0070d2;
    background-color: transparent;
    border: 2px solid #0070d2;
    border-radius: 6px;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
}

.custom-outline-button:hover {
    background-color: #0070d2;
    color: white;
}
