lightning-tabset {
    width: 100%;
}

.liste {
    padding: 2rem;
    background-color: #fff !important;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 1rem auto 1rem auto;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px; /*200px wider than Mine Bestillinger to give more columns to freelance interpreters */
    width: 100%;
}

.skjema-max-width {
    width: 100%;
    max-width: 1400px;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    z-index: 999;
}

@media (max-width: 576px) {
    .liste {
        padding: 1rem;
    }
}