.liste {
    padding: 2rem;
    background-color: #fff !important;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    margin: 1rem auto 1rem auto;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px; /*200px wider than Mine Bestillinger to give more columns to freelance interpreters */
    width: 100%;
}
.backBtn {
    font-weight: bold;
}

.skjema-max-width {
    width: 100%;
    max-width: 1400px;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    max-width: fit-content;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    z-index: 999;
}

.header {
    flex: 2;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.header:focus {
    outline: none;
}

@media (max-width: 576px) {
    .liste {
        padding: 1rem;
        max-width: 100vw;
    }
}

.tab-button {
    all: unset;
}
.tab-button:hover {
    cursor: pointer;
}

.tab {
    padding: 0.25rem 1rem;
}
.tab_active {
    box-shadow: inset 0 -3px 0 0 #2196f3;
    font-weight: bold;
}

.tabset {
    display: flex;
    flex-direction: row;
}

@media (max-width: 576px) {
    .desktop-only {
        display: none;
    }
}
@media (min-width: 576px) {
    .mobile-only {
        display: none;
    }
}
