.main-content {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    padding-top: 0.5rem;
}
.hidden {
    display: none;
}
