.main-content {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 100%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    align-items: center;
    padding-top: 0.5rem;
}

.record-details-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal;
}
.files-container {
    margin-top: 1rem;
}

@media (max-width: 576px) {
    .record-details-container {
        margin: 5vw 0;
    }
}
.flow-container {
    width: 50%;
    margin: 2rem 0;
}
