.message-from {
    margin-right: 0.5em;
    font-weight: bolder;
    display: inline;
}

.message-text {
    font-size: 16px;
}
.snakkeboble-panel {
    display: block;
    max-width: 80%;
    min-width: fit-content;
}
.ikon {
    display: block;
    margin-top: 1em;
    min-width: 25px;
}
.timestamp {
}
.h3 {
}

.inline-block {
    display: inline-block;
}

.linebreaks {
    white-space: pre-wrap;
    word-break: break-word;
}

.datewrapper {
    width: fit-content;
    font-size: 0.8em;
}
