.message-from {
    margin-right: 0.5em;
    font-weight: bolder;
    display: inline;
}

.message-text {
    font-size: 18px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.snakkeboble-panel {
    display: block;
    max-width: 80%;
    min-width: fit-content;
    /* background-color: white; */
    padding: 1rem;

    background-color: #f2f3f5;
    border-radius: 0.5rem;
}
.ikon {
    display: block;
    margin-top: 1em;
    min-width: 25px;
}
.timestamp {
}
.h3 {
}

.inline-block {
    display: inline-block;
}

.linebreaks {
    white-space: pre-wrap;
    word-break: break-word;
}

.datewrapper {
    width: fit-content;
    font-size: 0.8em;
}

.tind-Icon {
    display: flex;
    justify-content: flex-end;
    height: 3em;
    margin-top: 1em;
    margin-right: 0.5em;
}
.layout-container {
    display: flex;
    justify-content: flex-start;
}

.iconholder {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    .iconholder {
        display: none;
    }
}
