.mine-bestillinger-wrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}
.backBtn {
    font-weight: bold;
}

.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.back-link:hover {
    text-decoration: underline;
}
.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header {
    flex: 2;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.header-buttons {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    z-index: 999;
}
.record-details-container {
    margin: 2rem 0;
}

.skjema-max-width {
    width: 100%;
    max-width: 1200px;
}

span {
    font-weight: normal;
}

.mainContent {
    margin-bottom: 3.5rem;
    font-size: 18px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.comments-dialog-container {
    all: unset;
    background-color: #fff;
    display: block;
    padding: 5rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1010;
    max-width: 100%;
    max-height: 75%;
    width: 50%;
}
.fileUploader {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.button-padding {
    padding-right: 0.5vw;
}

.header:focus {
    outline: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 576px) {
    .fileUploader {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }
    .mine-bestillinger-wrapper {
        padding: 1rem;
    }
    .comments-dialog-container {
        width: 100%;
    }
    .button-padding {
        padding-bottom: 1vw;
        padding-right: unset;
    }
    .header {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .record-details-container {
        margin: 5vw 0;
    }
    .navigation-container {
        display: block;
    }
    .mobile-button {
        position: fixed;
        bottom: 5vw;
        right: 10vw;
    }
    .header-buttons {
        justify-content: space-between;
    }
}
