.open-filter-button {
    display: inline-flex;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #929292;
    border-radius: 3px;
}

.open-filter-button:hover {
    color: #ffffff;
    background-color: #0056b4;
    border-color: transparent;
}
.open-filter-button:active {
    background-color: #005b82;
}
