.open-filter-button {
    display: inline-flex;
    color: var(--filterButtonColor);
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid var(--filterButtonBorderColor);
    border-radius: 3px;
    background-color: var(--filterButtonBackgroundColor);
}

.open-filter-button:hover {
    color: #ffffff;
    background-color: #0056b4;
    border-color: transparent;
}
