.filterButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}
button.filterButton {
    appearance: none;
    -webkit-appearance: none;
    font: inherit;
    line-height: inherit;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: aqua;
}

.mobile-only {
    display: none;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: block; /* eller flex/inline‑block, alt etter layouten din */
    }
}
.tab-button {
    all: unset;
    margin-bottom: 0.5rem;
    padding: 0.3rem 1rem;
    border-radius: 5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    border: 1px solid #cbcfd5;
    background-color: #f2f3f5;
}
.tab-button::before {
    content: '◯';
    font-size: 0.9rem;
    color: #525962;
}
.tab-button.tab-active {
    background-color: #0056b4;
    color: #ffffff;
    border: none;
}
.tab-button.tab-active::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 2px solid #0067c5;
    background-color: #0067c5;
    content: '';
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}
