.typo-systemtittel {
	margin: 0;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 1.375rem;
	line-height: 1.625rem;
	font-weight: 600;
}

.hovedbanner-tolk {
	background-color: #dade99;
	border-color: rgb(181, 189, 51);
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	text-align: center;
}

.portal-linker {
	font-size: 1.33rem;
	max-width: 1080px;
	padding: 3.25rem 6.5rem 3.25rem 6.5rem;
	display: flex;
	align-items: stretch;
}

.portal-link-illustration {
	background-color: #dade99;
	width: 100%;
	height: 100px;
	border-bottom: 4px solid rgb(181, 189, 51);
}

.portal-header {
	font-size: 1.5rem;
	font-weight: bold;
}

.tolk-portal-link {
	color: #000;
	background-color: #fff;
	padding: 0 0.5rem 0 0.5rem;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.33rem;
	width: 30%;
	border-radius: 0.75rem;
	margin-right: 1rem;
	padding-left: 1rem;
	height: auto;
}

.tolk-portal-link:hover {
	box-shadow: #b7b1a9 0 2px 1px 0;
	color: #0067C5;
}