.banner {
    font-size: 1.75rem;
    text-align: left;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2vw;
    gap: 4vw;
}
