.banner {
    font-size: 1.75rem;
    text-align: left;
    font-family: Arial, sans-serif;
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
    gap: 2vw;
    flex-wrap: nowrap;
}

.banner-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    max-width: 70%;
}

.banner-right {
    margin-left: auto;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .banner {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        flex-wrap: nowrap;
    }

    .banner-left,
    .banner-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
    }
}
