.wrapper {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
}
.boxLabel,
.boxDescription {
    display: block;
}
.unreadThreadsTag {
    background-color: #ffd799;
    width: fit-content;
    border-radius: 4px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 1.125rem;
    margin-top: 0.5rem;
}

.spacer {
    height: 1rem;
    width: 4rem;
    background-color: #005b82;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxContent {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.boxLabel {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0056b4;
}
.boxDescription {
    font-size: 1.125rem;
}
/*  */

.boxRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1rem, 0.75rem + 1vw, 1.5rem);

    @media (width < 768px) {
        grid-template-columns: 1fr;
    }
}
.box {
    display: block;
    border: 4px solid var(--card-bg, #cbcfd5);
    background: var(--card-bg, #ffffff);
    min-block-size: 8lh;
    border-radius: 1ch;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
        border-color: #0067c5;
    }
}

@layer extras {
    body {
        padding: 2lh 1em;
        max-inline-size: 1200px;
        margin-inline: auto;
    }
    .wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;

        /* @media (width > 768px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        } */
    }
    :where(body, .wrapper) > div + div {
        margin-block-start: 1lh;
    }
}
