.button-standard {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: Source Sans Pro, Arial, sans-serif;
    font-size: 1em;
    white-space: nowrap;
    border-radius: 0.125em;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.0625em;
    line-height: 1.375rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fff;
    padding: calc(0.475rem - 1px) 2.5rem calc(0.525rem - 1px);
    min-height: 2.5rem;
    vertical-align: middle;
    border: 2px solid #0067c5;
    color: #0067c5;
    outline: var(--outline);
    box-shadow: var(--boxShadow);
}

.button-standard:hover {
    background-color: #0067c5;
    color: #fff;
}

.dropzone-label {
    font-weight: 600;
    color: #0067c5;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 13.33px;
}

.dropzone {
    padding: 0.125rem;
    border: 1px dashed #d4d4d4;
    border-radius: 0.25rem;
    width: auto;
    white-space: nowrap;
}

.uploadFileElement {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.filesClass {
    padding: 0.25em 0 0 0;
}

.fileNameClass {
    margin: 0 0.5em 0 0;
}

.fileAndButton {
    width: fit-content;
    height: fit-content;
}

.navds-button {
    cursor: pointer;
    color: #ba3a26;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 0;
    font-weight: bold;
    border-color: transparent;
    background-color: transparent;
}

.navds-button--secondary:hover {
    opacity: 0.7;
}

.hidden {
    display: none;
}
