.hovedbanner-tolk {
	background-color: #dade99;
	border-color: rgb(181, 189, 51);
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	text-align: center;
	min-height: 4rem;
}

.typo-systemtittel {
	margin: 0;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 2rem;
	line-height: 1.625rem;
	font-weight: 600;
}

.skjema {
	font-size: 1.33rem;
	max-width: 792px;
	padding: 3.25rem 6.5rem 3.25rem 6.5rem;
}

.button-container {
	text-align: center;
	max-width: 792px;
	padding: 3.25rem 6.5rem 3.25rem 6.5rem;
}

.tolk-skjema-input {
	font-size: 1.33rem;
}

.tolk-skjema-knapp {
	font-size: 1.33rem;
}

.nav-info-header {
	font-size: 1.75rem;
}