.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.cancel-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.custom-button {
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
