.header {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 600;
}

.listelement {
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375rem;
}

.navds-button {
    cursor: pointer;
    color: #ba3a26;
    text-align: center;
    text-decoration: none;
    align-items: center;
    padding: 0;
    font-weight: bold;
    font-size: 1rem;
    border-color: transparent;
    background-color: transparent;
}
