.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-background {
    background: #ffffff;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -6rem;
    margin-bottom: -4.5rem;
}

.card-container {
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
    margin: 2rem auto;
    box-sizing: border-box;
}

.back-button-info {
    margin-top: 0rem;
    margin-left: -0.5rem;
}

.header {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1rem;
}

.heading-medium {
    margin: 2rem;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
}

.heading-small {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}

.heading-more-info {
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.more-info {
    margin-left: 0rem;
}

.center-text {
    text-align: center;
}

.form-container {
    margin: 3.5rem;
}

.form-row {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.form-row-input {
    gap: 0.6rem;
}

.form-col-input-left {
    margin-right: 2rem;
}

.form-col {
    flex: 1 1 45%;
}

.form-row-region {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    padding-left: 2rem;
    align-items: flex-start;
}

.form-col-region-left {
    flex: 1;
    margin-right: 0.7rem;
}

.form-col-right {
    flex: 1;
    margin-left: 0.7rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.checkbox-row {
    display: flex;
    align-items: center;
}

.btn-edit {
    margin-top: 4rem;
}

.btn-save {
    border: none;
    border-radius: 3px;
    border: 3px solid transparent;
}

.label-form-big {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.75rem;
    font-weight: 600;
}

.label-form-small {
    font-size: 1.125rem;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.5rem;
}

.notification-picklist {
    border: 1px solid #6a6a6a;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #000000;
    background-color: #ffffff;
    margin-top: 0.25rem;
    height: 2.7rem;
    width: 17rem;
    font-weight: 400;
}

.preference-info-box {
    margin-top: 0.6rem;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.response-mobile-region {
    margin-left: 1rem;
}

.response-hide-region {
    display: block;
}

@media (max-width: 768px) {
    .section-mobile {
        width: 150%;
    }
    .back-button-info {
        margin-top: 0rem;
        margin-left: -0.5rem;
    }
    .form-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }
    .form-col {
        margin-left: -5rem;
    }
    .input-config {
        max-width: 100%;
    }

    .form-mobile-right {
        width: 100%;
    }
    .form-col-right {
        margin-left: 0.01rem;
    }

    .page-background {
        margin-top: 0rem;
        padding: 0;
        width: 100%;
    }

    .card-container {
        margin-bottom: 3rem;
        padding: 1rem;
        margin-top: 0rem;
    }

    .form-big-container {
        margin-right: 5rem;
    }

    .response-mobile-region {
        display: block;
        margin-left: -1.5rem;
    }

    .response-hide-region {
        display: none;
    }

    .header {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: left;
        margin-left: 0rem;
        padding-left: 0;
        margin-bottom: -2rem;
    }

    .heading-contact {
        text-align: left;
        margin-left: 0.5rem;
        margin-bottom: -2rem !important;
    }
    .heading-medium {
        margin-bottom: 1rem;
    }
    .heading-small {
        margin-left: -3rem;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
    }
    .header-quali {
        text-align: left;
        margin-left: -3rem;
    }
    .heading-diverse {
        text-align: left;
        margin-left: -3rem;
    }

    .response-mobile-qualification {
        margin-left: -5rem;
    }

    .button-container {
        margin-left: -4rem;
        margin-bottom: 1rem;
    }

    .skills-mobile {
        margin-left: -0.1rem;
    }
    .form-col-input-left {
        margin-right: 0rem;
    }

    .notification-picklist {
        width: 17.5rem;
    }

    .section-edit-mobile {
        width: 140%;
    }

    .form-col-right {
        margin-left: 4rem;
    }
}
