.hovedbanner-tolk {
	background-color: #DADE99;
	border-color: rgb(181, 189, 51);
	padding: 1rem 1.5rem 1rem 1.5rem;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	text-align: center;
}

.typo-systemtittel {
	margin: 0;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.375rem;
	line-height: 1.625rem;
	font-weight: 600;
}