@import 'c/hot_sharedFonts';

.main-content {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-bottom: 0.75rem;
}

.picklist-label {
    display: block;
    margin-bottom: 0.25rem;
    color: #1e2b3c;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.button-container {
    margin-top: 1rem;
    margin-bottom: 2.1rem;
}

.error-message {
    display: block;
    color: #ba3a26;
    margin-top: 0.25rem;
    font-size: 0.875rem;
}
