.tekstboks {
    overflow-y: hidden;
}

.mirror {
    font-family: Source Sans Pro, Arial, sans-serif;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #6a6a6a;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    position: absolute;
    left: -99999px;
    top: 0;
}

.minRow {
    min-height: 12rem;
}
