.tekstboks {
    overflow-y: hidden;
    font-size: 18px;
}

.mirror {
    font-family: Source Sans Pro, Arial, sans-serif;
    -webkit-appearance: none;
    appearance: none;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #6a6a6a;
    box-sizing: border-box;
    white-space: pre-wrap;
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
    position: absolute;
    left: -99999px;
    top: 0;
}

.minRow {
    min-height: 12rem;
}
.navds-textarea__input {
    /* stylelint-disable-next-line csstools/value-no-unknown-custom-properties */
    height: var(--__ac-textarea-height);
    appearance: none;
    padding: var(--a-spacing-2);
    background-color: var(--ac-textarea-bg, var(--__ac-textarea-bg, var(--a-surface-default)));
    border-radius: var(--a-border-radius-medium);
    border: 1px solid var(--ac-textarea-border, var(--__ac-textarea-border, var(--a-border-default)));
    resize: none;
    width: 100%;
    display: block;
    color: var(--ac-textarea-text, var(--__ac-textarea-text, var(--a-text-default)));
}

.navds-textarea__input::placeholder {
    color: var(--ac-textarea-placeholder, var(--__ac-textarea-placeholder, var(--a-text-subtle)));
}

.navds-textarea__input:hover {
    border-color: var(--ac-textarea-hover-border, var(--__ac-textarea-hover-border, var(--a-border-action-hover)));
}

.navds-textarea__input:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: var(--a-shadow-focus);
    border-color: var(--ac-textarea-active-border, var(--a-border-action-selected));
}
