.slds-form-element__label {
    color: #262626;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem !important;
    line-height: 1.4rem;
    font-weight: 600;
}

.slds-file-selector__button {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    border-width: 2px;
    display: inline-flex;
    cursor: pointer;
    background-color: #ffffff;
    color: #0067c5;
    border-color: #0067c5;
    margin: 0;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
    min-height: 48px;
    align-items: center;
}

.slds-file-selector__button:hover, .slds-file-selector__button:active {
    color: #ffffff;
    background-color: #0056b4;
    border-color: transparent;
}

.slds-file-selector_files .slds-file-selector__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.slds-button--neutral {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    font-size: 18px !important;
    display: inline-flex !important;
    cursor: pointer !important;
    background-color: #0067c5 !important;
    color: white !important;
    border: none !important;
    margin: 0 !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 2px !important;
    min-height: 48px !important;
    align-items: center !important;
    width: 8rem !important;
}

.slds-button--neutral:hover {
    background-color: #0056b4 !important;
    border-color: #0056b4 !important;
}

.slds-button--neutral:disabled {
    background-color: #a0a0a0 !important;
    color: #ffffff !important;
    cursor: not-allowed !important;
    border-width: 0 !important;
    box-shadow: none !important;
    transform: none !important;
}

.slds-text-body--small {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    font-size: 16px !important;
    color: #262626 !important;
}

.fileName {
    font-size: 18px;
    color: #262626 !important;
}

.cancel {
    visibility: hidden;
}

.slds-icon-utility-close {
    display: none;
}

.slds-modal__close {
    display: none;
}

@media (max-width: 576px) {
    .footerCmps {
        align-content: space-between;
        margin-bottom: 1rem;
    }

    .forceMobileOverlay {
        display: block;
        text-align: unset;
        justify-content: space-between;
    }

    .panel-header {
        display: block;
    }
    
    .slds-text-heading_small, .slds-text-heading--small {
        font-family: 'Source Sans Pro', Arial, sans-serif !important;
        font-size: 18px !important;
        font-weight: 600 !important;
        color: #262626 !important;
    }

    .slds-p-left--x-small:first-child {
        display: none;
    }
}