.main {
    padding: 0.25rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    min-height: 96px;
    width: 1000px;
}

.link {
    position: relative;
    color: black;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem 1.25rem;
    min-width: 200px;
    flex: 1;
    border-radius: 4px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}
.link h2 {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.link:hover {
    color: #0067c5;
    cursor: pointer;
}
@media (max-width: 576px) {
    .main {
        padding: 0;
    }
    .content {
        width: 100%;
        padding: 1rem;
    }
    .link {
        max-width: 576px;
        margin: 0;
    }
}
