@media only screen and (max-width: 500px) {
    .fullCard {
        height: 100%;
        width: 100%;
        margin: auto;
        margin-bottom: 0;
    }
    .calendarWrapper {
        background-color: transparent;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .fc-daygrid-day-frame {
        height: 100%;
    }

    .fc-scrollgrid-section {
        height: 100%;
    }

    .fc .fc-daygrid-day-number {
        justify-content: center;
        display: flex;
        position: relative;
        font-weight: bold;
        padding: 0;
        padding-top: 2;
        z-index: 4;
        height: 100%;
        width: 100%;
        font-size: 0.8rem;
        text-decoration: none;
        background-color: #ffffff00;
        color: #000000;
    }
    .fc-daygrid-dot-event .fc-event-title {
        display: none;
    }

    .fc-daygrid-event-harness {
        width: 12px;
        height: 12px;
    }

    .fc-direction-ltr .fc-daygrid-event .fc-event-time {
        display: none;
    }
    .fc .fc-daygrid-day-bottom {
        display: none;
    }
    .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .fc-daygrid-event-dot {
        margin: 0;
        border-radius: 5px;
        border-width: 5px;
    }
    .fc-daygrid-day-top {
        display: flex;
        justify-content: center;
        position: relative;
    }
}
