.list {
    padding: 2rem;
    background-color: #fff !important;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    z-index: 999;
}

.header {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 36%;
    padding-bottom: 1.5rem;
}

.tab-button {
    all: unset;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 1rem;
    border-radius: 5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        color 0.2s ease;
    border: 1px solid #cbcfd5;
    background-color: #f2f3f5;
}

.tab-button::before {
    content: '◯';
    font-size: 0.9rem;
    color: #525962;
}

.tab-button.tab-active {
    background-color: #0056b4;
    color: #ffffff;
    border: none;
}

.tab-button.tab-active::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAxMCI+ICAgIDxnPiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNCwxMGMtMC40LDAtMC44LTAuMS0xLjEtMC40TDAuNCw3LjFDMC4xLDYuOCwwLDYuNCwwLDZzMC4yLTAuOCwwLjUtMS4xQzEsNC40LDIsNC40LDIuNSw0LjlMNCw2LjRsNi40LTYgICAgQzEwLjgsMC4xLDExLjEsMCwxMS41LDBjMC40LDAsMC44LDAuMiwxLDAuNWMwLjYsMC42LDAuNSwxLjYtMC4xLDIuMXYwTDUsOS42QzQuNyw5LjksNC40LDEwLDQsMTB6IE0xMS44LDEuOUwxMS44LDEuOSAgICBDMTEuOCwxLjksMTEuOCwxLjksMTEuOCwxLjl6IE0xMS4yLDEuMUMxMS4yLDEuMSwxMS4yLDEuMSwxMS4yLDEuMUwxMS4yLDEuMXoiLz4gICAgPC9nPjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 2px solid #0067c5;
    background-color: #0067c5;
    content: '';
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
}

.filter-button-styling {
    border-radius: 0.25rem;
}

.filter-button-wrapper {
    margin-left: 1rem;
}

.release-button-wrapper-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-radius: 0.25rem;
    margin-right: 5.5rem;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-width: 0;
    margin-top: -1rem;
}

.remove-released-today-button {
    margin-left: -55%;
}

.release-button {
    margin-left: 40%;
}

.release-button-style {
    height: 3.4rem;
    width: 7rem;
    background-color: #ffffff;
    border: 1px solid #00459c;
}

.release-button-wrapper-mobile {
    display: none;
}

@media (max-width: 576px) {
    .release-button-wrapper-desktop {
        display: none;
    }
    .release-button-wrapper-mobile {
        display: block;
        margin-left: 35.5%;
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
    }
    .release-button {
        margin-left: -54%;
    }
    .desktop-only {
        display: none;
    }

    .header {
        /* top, right, bottom, left */
        margin: 2.8rem 1rem -3rem -5.5rem;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: left;
    }

    .header-buttons {
        padding-bottom: 0rem;
    }
    .list {
        max-width: 100vw;
        padding: 1rem;
        height: auto;
    }

    .back-button-info {
        margin-top: 0rem;
        margin-left: -0.5rem;
    }

    .filter-button-wrapper {
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding: 0 1rem;
        top: 7.3rem;
        left: 1rem;
    }

    .picklist-service {
        width: 65%;
    }

    .tab-content-wrapper {
        margin-top: 0.5rem;
    }
}

@media (min-width: 576px) {
    .mobile-only {
        display: none;
    }
}
