.decorator-wrapper {
}
.contentholder {
    margin: auto;
    max-width: 80em;
}
.submitbtn {
    float: right;
}
.knapp {
    float: right;
}
.panel {
    overflow: auto;
}
.infocontainer {
    margin-top: 2em;
}
.closebox {
    margin-top: 6em;
    display: block;
}
.example__inner {
    max-width: 80em;
    margin: auto;
}

.largePadding {
    padding-bottom: 5.5em;
}
