.decorator-wrapper {
}
.body-wrapper {
    padding: 1rem;
}
.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: fit-content;
}
.goToWO-link {
    position: absolute;
    display: flex;
    align-items: center;

    max-width: fit-content;
    right: 5rem;
}
.back-link-div {
    display: flex;
    max-width: 80em;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.brodsmulesti {
    max-width: 80em;
    margin: auto;
    padding-top: 1rem;
    justify-content: start;
}
p {
    font-weight: bold;
}
.contentholder {
    margin: auto;
    max-width: 80em;
}
.submitbtn {
    float: right;
}
.knapp {
    margin-top: 1rem;
    float: right;
}
.panel {
    overflow: auto;
}
.infocontainer {
    margin-top: 2em;
}
.closebox {
    margin-top: 6em;
    display: block;
}
.example__inner {
    max-width: 80em;
    margin: auto;
}

.largePadding {
    padding-bottom: 5.5em;
}

.helpText {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3vmin;
}
.comments-dialog-container {
    all: unset;
    background-color: #fff;
    display: block;
    padding: 5rem;
    border-radius: 4px;
    position: relative;
    flex-grow: 0;
    overflow-x: auto;
    max-height: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1010;
    max-width: 432px;
    max-height: 75%;
    width: 100%;
}
@media (max-width: 576px) {
    .back-link {
        padding-left: 2rem;
    }
    .goToWO-link {
        padding-right: 2rem;
    }
    .brodsmulesti {
        padding: 1rem;
    }
    .comments-dialog-container {
        all: unset;
        background-color: #fff;
        display: block;
        padding: 3rem;
        border-radius: 4px;
        position: relative;
        flex-grow: 0;
        overflow-x: auto;
        max-height: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
        z-index: 1010;
        max-width: 432px;
        max-height: 75%;
        width: 100%;
    }
}
.hidden {
    display: none;
}
span {
    font-weight: normal;
}
.errorContent {
    padding: 3vw;
    margin: auto;
    width: 50%;
    background-color: white;
    text-align: center;
}
