.decorator-wrapper {
}
.body-wrapper{
    padding: 1rem;
}
.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    max-width: 80em;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.brodsmulesti {
    max-width: 80em;
    margin: auto;
    padding-top: 1rem;
    justify-content: start;
}
p {
    font-weight: bold;
}
.contentholder {
    margin: auto;
    max-width: 80em;
}
.submitbtn {
    float: right;
}
.knapp {
    margin-top: 1rem;
    float: right;
}
.panel {
    overflow: auto;
}
.infocontainer {
    margin-top: 2em;
}
.closebox {
    margin-top: 6em;
    display: block;
}
.example__inner {
    max-width: 80em;
    margin: auto;
}

.largePadding {
    padding-bottom: 5.5em;
}
@media (max-width: 576px) {
    .back-link {
        padding-left: 2rem;
    }
    .brodsmulesti {
        padding: 1rem;
    }
}
