.mainContent {
    margin-bottom: 3.5rem;
}
.notificationlist {
    margin-top: 1rem;
}
.notification-single {
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    /* border-bottom: 1px solid black; */
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}
.notification-single:hover {
    cursor: pointer;
    background-color: #eeefeb;
}
.notification-single p {
    font-weight: normal;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cursive {
    font-style: italic;
}

.notification-wrapper {
    background-color: #fff;
    border-radius: 0.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.back-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: fit-content;
}
.back-link-div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 33%;
    max-width: 80em;
    margin: auto;
}
.back-link:hover {
    text-decoration: underline;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal;
}

.skjema-max-width {
    width: 100%;
    max-width: 1200px;
}

.header {
    flex-grow: 2;
    flex-basis: 33%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.empty {
    flex-grow: 3;
    flex-basis: 33%;
}
@media (max-width: 576px) {
    .header {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .navigation-container {
        display: block;
    }
    .mainContent {
        margin-bottom: 3.5rem;
        max-width: 100vw;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .notification-wrapper {
        background-color: #fff;
        border-radius: 0.5rem;
        margin: 0 auto;
        max-width: 100vw;
    }
}
