.message {
    border: 3px solid #cbcfd5;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 1rem;
    background: #fff;
    max-width: 800px;
    margin: auto;
    margin-top: 1.5rem;
    font-family: 'Source Sans 3', 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;
}

.created-date {
    color: #555;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.description {
    color: #333;
    white-space: pre-line;
}