@font-face {
    font-family: 'Source Sans 3';
    src: url('/resource/SourceSans3/static/SourceSans3-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/resource/SourceSans3/static/SourceSans3-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('/resource/SourceSans3/static/SourceSans3-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:host {
    --lwc-fontFamily: 'Source Sans 3', Arial, sans-serif;
    --slds-g-font-family: 'Source Sans 3', Arial, sans-serif;
    font-family: 'Source Sans 3', Arial, sans-serif !important;
}

:host * {
    font-family: 'Source Sans 3', Arial, sans-serif !important;
}
