.dialog {
    padding: 0;
    border: none;
    background: transparent;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.details-container {
    background-color: #fff;
    display: block;
    padding: 2rem;
    border-radius: 4px;
    max-height: 100vh;
    box-sizing: border-box;
}

.flow-container {
    margin: 2rem 0;
    max-width: 500px;
    margin: 2rem auto;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal;
}
