.dialog {
    padding: 0;
    border: none;
    background: transparent;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.details-container {
    background-color: #fff;
    display: block;
    padding: 2rem;
    border-radius: 4px;
    max-height: 100vh;
    box-sizing: border-box;
}
.files-container {
    margin-top: 1rem;
}

.flow-container {
    margin: 2rem 0;
    max-width: 500px;
    margin: 2rem auto;
}

p {
    font-weight: bold;
}

span {
    font-weight: normal;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.button-wrapper {
    display: inline-block;
    padding-right: 0.5vw;
}

@media (max-width: 576px) {
    .button-wrapper {
        display: block;
        width: 100%;
        margin-bottom: 1.5vw;
    }
}
